<script src="assets/js/game.js"></script>
<link rel="stylesheet" href="assets/css/game.css">
<canvas id="canvas" width="500" height="350"></canvas>
<div>
	<button id="btn-start" type="button" class="game">stop</button>
	<button id="btn-reset" type="button" class="game">reset</button>
	<button id="btn-random" type="button" class="game">search</button>
</div>
<div>
	<button type="button" class="game hidden"></button>
	<button type="button" class="game hidden"></button>
	<button type="button" class="game hidden"></button>
</div>
<div>
	<button type="button" class="game hidden"></button>
	<button id="btn-U" type="button" class="game">up</button>
	<button type="button" class="game hidden"></button>
</div>
<div>
	<button id="btn-L" type="button" class="game">left</button>
	<button id="btn-D" type="button" class="game">down</button>
	<button id="btn-R" type="button" class="game">right</button>
</div>
